<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>logback</contextName>
    <springProperty scope="context" name="app" source="spring.application.name"/>
    <springProperty scope="context" name="evn" source="spring.profiles.active"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
<!--            <jsonGeneratorDecorator class="net.logstash.logback.decorate.FeatureJsonGeneratorDecorator"/>-->
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <providers>
                <pattern>
                    <pattern>
                        {
                            "basicDate": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                            "basicLevel": "%level",
                            "basicThread":"%thread",
                            "basicPid":"${PID}",
                            "basicApp":"${app}",
                            "basicEvn":"${evn}",

                            "mdcLogId":"%X{mdcLogId:-1}",
                            "mdcSn":"%X{mdcSn:-1}",
                            "mdcType":"%X{mdcType:-SYSTEM}",
                            "mdcGrade":"%X{mdcGrade:-requestDefault}",

                            "metArgs":"%X{metArgs:-null}",
                            "metExec":"%X{metExec:-1}",
                            "metSign":"%X{metSign:-null}",
                            "metRet":"%X{metRet:-null}",
                            "metThrow":"%X{metThrow:-null}",

                            "reqUrl":"%X{reqUrl:-null}",
                            "reqParams":"%X{reqParams:-null}",
                            "reqHeader":"%X{reqHeaders:-null}",
                            "reqStatus":"%X{reqStatus:-1}",

                            "msg": "%msg"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!--    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                {-->
<!--                    "date": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",-->
<!--                    "level":"%level",-->
<!--                    "thread":"%thread",-->
<!--                    "appName":"${appName}",-->
<!--                    "appEvn":"${appEvn}",-->
<!--                    "logId":"%mdc{logId}",-->
<!--                    "msg":%msg-->
<!--                }-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
